* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,255,218);
    background: linear-gradient(90deg, rgba(0,255,218,1) 0%, rgba(0,255,119,1) 100%);
}

header {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.time-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hour {
    height: 25px;
    width: 50px;
    border-radius: 5px;
}

#hour1 {
    margin-top: 10px;
}

.description {
    height: 70px;
    width: 700px;
    margin: 0 0 0 10px;
    resize: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.saveBtn {
    height: 70px;
    width: 50px;
    border: none;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    
}

.container {
    background-color: rgba(255,255,255,.7);
    width: 900px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
    border-radius: 25px;
}

